{% extends 'main/header.html' %}

{% block head %}

	<title>Main</title>

{% endblock %}

{% block content %}

	<div class="row">
		<div class="col s12 m12 l12">
			<div class="card materialize-red darken-1">
			    <div class="card-content valign center white-text">
			    	<br>
				    <span class="card-title">This is Django Python Programming Web</span>
				    <p style="font-size:80%">Please login or register to view all documentation.</p>
				    <br>
			    </div>
			</div>
		</div>
	</div>

{% endblock %}
