<nav>
    <div class="nav-wrapper materialize-red darken-4">
	    {% if user.is_authenticated %}
	    <a href="/home" class="brand-logo">Django Python</a>
	    <ul id="nav-mobile" class="right hide-on-med-and-down">
        	<li><a href="/home">Home</a></li>
        	<li><a href="/account">{{user.username|title}}</a></li>
        	<li><a href="/logout">Logout</a></li>
        </ul>
	    {% else %}
	    <a href="/" class="brand-logo">Django Python</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        	<li><a href="/">Main</a></li>
        	<li><a href="/register">Register</a></li>
        	<li><a href="/login">Login</a></li>
        </ul>
	    {% endif %}
    </div>
</nav>
